.footer {
  background-color: #0a2850;
}

.footer__circle {
}

.footer__content {
  border: solid 4px orange;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__social {
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.footer__list {
}

.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.footer__social-link {
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: solid 4px yellow;
}
