.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.header__title {
  display: block;
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  color: #6f6f6f;
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}

.header__schedule {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__address {
  display: flex;
  margin-right: 80px;
  margin-top: 40px;
}
